<form [formGroup]="form" (ngSubmit)="changePassword()">
  <label for="oldPassword">Old Password</label>
  <input
    id="oldPassword"
    class="form-control"
    type="text"
    formControlName="oldPassword">
  <div class="alert alert-info" *ngIf="oldPassword.pending">Checking records ...</div>
  <div class="alert alert-danger" *ngIf="oldPassword.dirty && oldPassword.invalid">
    <div *ngIf="oldPassword.errors.required"> The old password is required!</div>
    <div *ngIf="!oldPassword.errors.matchesPassword">This password must match your current password.</div>
  </div>


  <label for="newPassword">New Password</label>
  <input
    id="newPassword"
    type="text"
    class="form-control"
    formControlName="newPassword">
  <div class="alert alert-info" *ngIf="newPassword.pending">Checking your password entry ...</div>
  <div class="alert alert-danger" *ngIf="newPassword.dirty && newPassword.invalid">
    <div *ngIf="newPassword.errors.required"> A new password is required!</div>
    <div *ngIf="newPassword.errors.minLength"> The new password must be at least 3 characters.</div>
    <div *ngIf="newPassword.errors.matchesHistory"> Please choose a password that you have not used before!</div>
  </div>


  <label for="newConfirm">Confirm Password</label>
  <input
    id="newConfirm"
    type="text"
    class="form-control"
    formControlName="newConfirm">

  <button class="btn btn-primary" type="submit">Submit</button>

</form>
