<h1 [style.margin]="appMargin">Angular</h1>

<!--<contact-form></contact-form>-->

<!--<course-form></course-form>-->

<signup-form></signup-form>
<!--<zippy title="Shipping Detail">-->
  <!--Shipping Detail Content-->
<!--</zippy>-->
<!--<zippy title="Billing Detail">-->
  <!--Billing Content Content-->
<!--</zippy>-->

<!--<like [isLiked] = "tweet.isLiked"-->
      <!--[likeCount]="tweet.likeCount"-->
      <!--(change)="changeLike($event)">-->
<!--</like>-->

<!--<favorite [isFavorite]="post.isFavorite" [title]="post.title" (change)="changeFavorite($event)"></favorite>-->

<!--<bootstrap-panel>-->
  <!--<div class="heading">-->
    <!--<h2>This is the first one</h2>-->
  <!--</div>-->
  <!--<div class="body">-->
    <!--<h2 [style.color]="contentObj.color_red">This should be red</h2>-->
  <!--</div>-->
<!--</bootstrap-panel>-->

<!--<bootstrap-panel>-->
  <!--<div class="heading">-->
    <!--<h3>This is the second thing</h3>-->
  <!--</div>-->
  <!--<div class="body">-->
    <!--<h4 [style.color]="contentObj.color_green"> This should be green </h4>-->
  <!--</div>-->
<!--</bootstrap-panel>-->
